middleware/SSR-master-server-main/descripcion.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd"
    xmlns:tns="urn:yahoo:yn" xmlns:yn="urn:yahoo:yn" xmlns:ya="urn:yahoo:api"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://wadl.dev.java.net/2009/02">

    <resources base="http://10.100.0.119:5000/">
        <resource path="record">
            <method name="GET" id="getRecord">
                <request>
                    <param name="id_nodo" type="xsd:int" style="query" required="true"/>
                    <param name="temperatura" type="xsd:decimal" style="query" required="true"/>
                    <param name="humedad" type="xsd:decimal" style="query" required="true"/>
                    <param name="co2" type="xsd:decimal" style="query" required="true"/>
                    <param name="volatiles" type="xsd:decimal" style="query" required="true"/>
                </request>
                <response status="200">
                    <representation mediaType="text/plain"/>
                </response>
            </method>
            <method name="POST" id="postRecord">
                <request>
                    <param name="mesaje" type="xsd:string" style="query" required="true"/>
                 </request>
                <response status="200">
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>
    </resources>
</application>

    